.App { text-align: center; }
.header {
  background: rgb(44,51,51);
  background: linear-gradient(180deg, rgba(44,51,51,1) 25%, rgba(0,0,0,1) 100%);
}
.footer {
  min-height: 35vh;
  background: url('./bg.jpeg') center/cover no-repeat;
}
.h-content { padding: 20px; }
h1 { color: #A5C9CA; }
h3 { color: #A5C9CA; margin: 5px;}
.columns { display: flex; justify-content: space-around; }
.column {
  width: 50px;
  height: 50px;
  margin: 7px;
  padding-top: 7px;
  color: #E7F6F2;
  border-radius: 10px;
  background: #395B64;
  box-shadow:  20px 20px 60px #304d55,
             -20px -20px 60px #426973;
}
.column span { font-size: 1.8em; font-weight: 900; }
.h-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
input {
  color: #395B64;
  padding: 7px;
  font-weight: 800;
  width: 40vw;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #A5C9CA;
  outline-color: #E7F6F2;
}
input[type="search"]::-webkit-search-decoration,
/* input[type="search"]::-webkit-search-cancel-button, */
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.points {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin: 10px;
  border: none;
  outline: none;
  background: #395B64;
  color: #E7F6F2;
  font-size: 1.5em;
  font-weight: 800;
  box-shadow:  20px 20px 60px #304d55,
             -20px -20px 60px #426973;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out 2 both;
	        animation: pulsate-fwd 0.5s ease-in-out 2 both;
}
 @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

